{% extends "base.html" %}
{% load static %}

{% block title %}
Messenger
{% endblock title %}


{% block styles %}
<link rel="stylesheet" href="{% static 'Chats/css/messenger.css' %}">
{% endblock styles %}


{% block header %}

<header class="main_header">

    <div class="logo">
        ☀ Messenger
    </div>

    {% if user.is_authenticated %}
        <div class="auth_buttons"> 
            <a href="{% url "logout" %}"><button class="btn btn_login">Выход</button></a> 
        </div>
    {% else %}
        <div class="auth_buttons">
            <a href="{% url "register" %}"><button class="btn">Регистрация</button></a> 
            <a href="{% url "login" %}"><button class="btn btn_login">Вход</button></a> 
        </div>
    {% endif %}
    

</header>

{% endblock header %}



{% block content %}

<div class="messenger_layout">

    <div class="chat_window">
        {% include "Chats/window_chats.html" %}
    </div>

</div>

{% endblock content %}