{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>

    <!-- Базовые стили -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Стили страницы -->
    {% block styles %}{% endblock styles %}

</head>

<body>

<div class="page">

    {% block header %}{% endblock header %}

    <main class="main_content">
        {% block content %}{% endblock content %}
    </main>

</div>

</body>
</html>